@{
    ViewBag.Title = "Glory Tracker";
}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#player1">Joseph</a></li>
        <li><a data-toggle="tab" href="#player2">Jonathan</a></li>
        <li><a data-toggle="tab" href="#player3">Zack</a></li>
    </ul>
    <div class="tab-content">
        <div id="player1" class="tab-pane fade in active">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("battleCounter").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("battleCounter").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("sellingCounter").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("sellingCounter").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("merchantCounter").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("merchantCounter").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("missionsCounter").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("missionsCounter").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("rumorsCounter").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("rumorsCounter").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("stashCounter").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("stashCounter").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("shipCounter").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("shipCounter").stepUp(1)'>+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="player2" class="tab-pane fade">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter2" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("battleCounter2").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("battleCounter2").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter2" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("sellingCounter2").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("sellingCounter2").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter2" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("merchantCounter2").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("merchantCounter2").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter2" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("missionsCounter2").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("missionsCounter2").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter2" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("rumorsCounter2").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("rumorsCounter2").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter2" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("stashCounter2").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("stashCounter2").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter2" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("shipCounter2").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("shipCounter2").stepUp(1)'>+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="player3" class="tab-pane fade">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter3" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("battleCounter3").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("battleCounter3").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter3" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("sellingCounter3").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("sellingCounter3").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter3" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("merchantCounter3").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("merchantCounter3").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter3" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("missionsCounter3").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("missionsCounter3").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter3" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("rumorsCounter3").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("rumorsCounter3").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter3" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("stashCounter3").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("stashCounter3").stepUp(1)'>+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter3" placeholder="0" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary" onclick='document.getElementById("shipCounter3").stepDown(1)'>-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary" onclick='document.getElementById("shipCounter3").stepUp(1)'>+</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>