@{
    ViewBag.Title = "Glory Tracker";
}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#player1" id="player1Tab">Player 1</a></li>
        <li><a data-toggle="tab" href="#player2" id="player2Tab">Player 2</a></li>
        <li><a data-toggle="tab" href="#player3" id="player3Tab">Player 3</a></li>
        <li><a data-toggle="tab" href="#player4" id="player4Tab">Player 4</a></li>
        <li><a data-toggle="tab" href="#options" id="optionsTab">Options</a></li>
    </ul>
    <div class="tab-content">
        <div id="player1" class="tab-pane fade in active">
            <form class="form-inline" id="player1form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="player2" class="tab-pane fade">
            <form id="player2form" class="form-inline" data-persist="garlic">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="player3" class="tab-pane fade">
            <form id="player3form" class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="player4" class="tab-pane fade">
            <form id="player4form" class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter4" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter4" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter4" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter4" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter4" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter4" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter4" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="options" class="tab-pane fade">
            <div class="container" style="background-color: #d3d3d3;border: 1px solid #ccc; border-radius: 12px">
                <h4>Player names:</h4>
                <form id="playerOptionsForm" class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span>Player 1: </span></div>
                            <input type="text" class="form-control" id="player1Name" value="Player1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span>Player 2: </span></div>
                            <input type="text" class="form-control" id="player2Name" value="Player2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span>Player 3: </span></div>
                            <input type="text" class="form-control" id="player3Name" value="Player3">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span>Player 4: </span></div>
                            <input type="text" class="form-control" id="player4Name" value="Player4">
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-success pull-right" onclick="setPlayerNames()">Apply</button>
            </div>
            <br />
            <br />
            <button type="button" class="btn btn-warning" onclick="clearGloryStorage();document.getElementById('player1form').reset();document.getElementById('player2form').reset();document.getElementById('player3form').reset();document.getElementById('player4form').reset();">Reset Glory</button>
        </div>
    </div>
</div>