@{
    ViewBag.Title = "Odds";
}
<h2>Todo: this too</h2>
<h3>Duplicate Index page:</h3>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#player1">Joseph</a></li>
        <li><a data-toggle="tab" href="#player2">Jonathan</a></li>
        <li><a data-toggle="tab" href="#player3">Zack</a></li>
        <li><a data-toggle="tab" href="#options">Options</a></li>
    </ul>
    <div class="tab-content">
        <div id="player1" class="tab-pane fade in active">
            <form class="form-inline" id="player1form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="player2" class="tab-pane fade">
            <form id="player2form" class="form-inline" data-persist="garlic">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter2" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="player3" class="tab-pane fade">
            <form id="player3form" class="form-inline" data-persist="garlic">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Battle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="battleCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Selling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="sellingCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Merchants</span></div>
                        <input type="number" class="form-control input-lg" id="merchantCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Missions&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="missionsCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Rumors&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="rumorsCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Stash&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="stashCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span>Ships&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                        <input type="number" class="form-control input-lg" id="shipCounter3" style="width: 80px">
                        <button type="button" class="btn btn-danger btn-outline-secondary decrementBtn">-</button>&nbsp;
                        <button type="button" class="btn btn-success btn-outline-secondary incrementBtn">+</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="options" class="tab-pane fade">
            <div class="container">
                <button type="button" class="btn btn-warning" onclick="document.getElementById('player1form').reset();document.getElementById('player2form').reset();document.getElementById('player3form').reset();">Reset Tracking</button>
                <br />
                <br />
                <button type="button" class="btn btn-warning" onclick="localStorage.clear()">Delete local storage</button>
            </div>
        </div>
    </div>
</div>