
@{
    ViewBag.Title = "Rules";
}
<iframe src="http://docs.google.com/gview?url=https://www.fgbradleys.com/rules/rules4/Merchants%20and%20Marauders%20-%20rules.pdf&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
<br /><br />
<a href="https://www.fgbradleys.com/rules/rules4/Merchants%20and%20Marauders%20-%20rules.pdf">PDF link</a>

<!--
<h3>Port actions</h3>
<ul>
    <li>Sell goods (must be your first port activity)</li>
    <li>Buy goods</li>
    <li>Visit shipyard
    <ul>
        <li>Buy/sell ships</li>
        <li>Buy special weapons</li>
        <li>Repair</li>
        <li>Buy ship modification</li>
    </ul>
    </li>
    <li>Recruit: full crew for free on leadership roll (2 gold per crew member if failed)</li>
    <li>Acquire a rumor</li>
    <li>Claim a mission</li>
    <li>Stash gold (home port only)</li>
</ul> -->
